<!DOCTYPE html>
<html lang="en">
<#include "macros.ftl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <title>MilkRun - About Us</title>
    <@styleSheets/>
</head>
<body class="">
    <@pageHeader "about.html"/>
    <section class="banner banner-about bg-parallax">
        <div class="overlay"></div>
        <div class="container">
            <div class="banner-content text-center">
                <h2 class="page-title">ABOUT US</h2>
                <div class="breadcrumbs">
                    <a href="${system.site.indexPage}">Home</a>
                    <span>ABOUT US</span>
                </div>
            </div>
        </div>
    </section>
    <div class="maincontainer">
        <section class="section-about-text">
            <div class="container">
                <h2 class="crimson-text font-italic">MILKRUN - ABOUT US</h2>
                <p>To make sustainably grown and raised food available to local communities everywhere</p>
            </div>
        </section>
        <div class="section-about-image">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="/images/about-img.jpg" alt="" />
                    </div>
                    <div class="col-sm-6">
                        <h3>THE MISSION</h3>
                        <p>MilkRun facilitates a direct relationship with farmers and eaters eliminating the middleman and putting more money in the pockets of farmers and bringing savings to customers. </p>
                        <p>At MilkRun we want customers to have a true farm to door experience by cutting out the middleman and directly connecting farmers and small producers with local buyers. We are committed to making local and sustainable food accessible to everyone. Our orders are fully customizable and with no minimum order we offer a risk-free, hassle-free shopping experience.
                            Working towards sustainability our orders come with no unwanted packaging materials and are delivered in a reusable cooler that keep the products fresh.</p>
                    
                        <div class="skillbars">
                            <div class="skillbar">
                                <div class="skill-bar-title">Fact: Only 10% of your food dollar goes back to the farmer from the average grocery store </div>
                                <div class="skill-bar-bg">
                                    <div style="width: 85%;" class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">10%</div>
                                </div>
                            </div>
                            <div class="skillbar">
                                <div class="skill-bar-title">DRAWING</div>
                                <div class="skill-bar-bg">
                                    <div style="width: 95%;" class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">95%</div>
                                </div>
                            </div>
                            <div class="skillbar">
                                <div class="skill-bar-title">HANDICRAFT</div>
                                <div class="skill-bar-bg">
                                    <div style="width: 75%;" class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">75%</div>
                                </div>
                            </div>
                            <div class="skillbar">
                                <div class="skill-bar-title">WORDPRESS</div>
                                <div class="skill-bar-bg">
                                    <div style="width: 95%;" class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">95%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="section-about-text">
            <div class="container">
                <h2 class="crimson-text font-italic">Our Story</h2>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat</p>
                
            </div>
        </section>
        <div class="section-ourteam-about">
            <div class="container">
                <div class="title-section text-center">
        			<h2 class="title">OUR TEAM</h2>
        		</div>
                <div class="col-sm-4">
                    <div class="team-item">
                        <div class="team-avatar">
                            <img src="/images/teams/Julia Niiro CEO Founder.jpeg" alt="" />
                            <div class="social-network">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="team-info">
                            <h3 class="team-name"><a href="#">JULIA NIIRO</a></h3>
                            <span class="team-postion">FOUNDER</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-item">
                        <div class="team-avatar">
                            <img src="/images/teams/Leah Scafe milkrun.jpeg" alt="" />
                            <div class="social-network">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="team-info">
                            <h3 class="team-name"><a href="#">LEAH SCAFE</a></h3>
                            <span class="team-postion">COMMUNITY</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-item">
                        <div class="team-avatar">
                            <img src="/images/teams/team3.jpg" alt="" />
                            <div class="social-network">
                                <a href="https://www.facebook.com/localmilkrun/"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="team-info">
                            <h3 class="team-name"><a href="#">MIKE COLLINS</a></h3>
                            <span class="team-postion">TECHNOLOGY</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <@pageFooter/>
    <a href="#" class="scroll_top" title="Scroll to Top">Scroll</a>
    <@jsIncludes/>
</body>
</html>