<!DOCTYPE html>
<html lang="en">
<#include "macros.ftl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <title>Leka - Blog Detail</title>
    <@styleSheets/>
</head>
<body class="">
    <@pageHeader "blog-detail.html"/>
    <section class="banner bg-parallax banner-blog">
        <div class="overlay"></div>
        <div class="container">
            <div class="banner-content text-center">
                <h2 class="page-title">BLOG 3 COLUMNS</h2>
                <div class="breadcrumbs">
                    <a href="${system.site.indexPage}">Home</a>
                    <span>BLOG 3 COLUMNS</span>
                </div>
            </div>
        </div>
    </section>
    <div class="maincontainer">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-8 main-content">
                    <div class="blog-single">
                        <article class="blog-item">
                            <div class="post-format post-sile owl-carousel" data-nav="true" data-items="1" data-margin="0" data-dots="false">
                                <div class="item-image">
                                    <img src="/images/blogs/blog5.jpg" alt="">
                                </div>
                                 <div class="item-image">
                                    <img src="/images/blogs/blog6.jpg" alt="">
                                </div>
                            </div>
                            <h3><a href="#">Trendy breakfast advices</a></h3>
                            <div class="post-cat"><a href="#">LifeStyle</a></div>
                            <div class="meta-post">
                                <div class="date-post"><span>SEP 07, 2015</span><span>By <a href="#">LADY SANSA</a></span></div>
                                <div class="like-post"><a href="#"><i class="fa fa-heart-o"></i>95</a></div>
                                <div class="comment-post"><a href="#"><i class="fa fa-comments-o"></i>68</a></div>
                            </div>
                            <div class="content-post">
                                <p>Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem.Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut.</p>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                                <blockquote>“Nemo enim ipsam voluptatem.Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur”</blockquote>
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                                <p><a href="#"><img class="alignleft" src="/images/img-detail.png" alt=""></a><i class="crimtext">Nemo enim ipsam voluptatem</i></p>
                                <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate </p>
                                <p>Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected 
                                humour, or non-characteristic words etc.This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                            </div>
                            <div class="bottom-post">
                            	<div class="groupshare">
                            		<span>SHARE TO FRIENDS</span>
                            		<ul>
                            			<li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            			<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            			<li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            			<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                            		</ul>
                            	</div>
                            	<div class="tagcloud">
                            		<span>Tags cloud</span>
                            		<a href="#">Natural</a>
    								<a href="#">Fashion</a>
                            	</div>
                            </div>
                        </article>
                        <div class="leka-post-author">
    						<div class="author-img"><img class="avatar" src="/images/avatar.png" alt=""></div>
    						<div class="author-content">
    							<h3>Artice by <a rel="author" title="" href="#">LADY SANSA</a></h3>
    							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditat</p>
    							<div class="groupshare">
                            		<ul>
                            			<li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            			<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            			<li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            			<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                            		</ul>
                            	</div>
    						</div>
    					</div>
    					<div class="comments-area" id="comments">
                            <h3 class="comments-title">COMMENT (58 )<i class="fa fa-chevron-down"></i></h3>
    				    	<ol class="comment-list">
    			    			<li class="comment">
    								<div class="comment-body">
    									<div class="comment-author">
    										<img class="avatar" src="/images/avatar1.png" alt="">
    									</div>
    									<div class="comment-content">
    										<div class="comment-text"><p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditat”</p></div>
    										
    										<h4 class="author-name">TYRION LANNISTER</h4>			
    										<span class="date-comment">08 July</span>
    										<div class="reply">
    											<a href="#" class="comment-reply-link" rel="nofollow">Reply</a>			
    										</div>
    									</div>
    								</div>
    								<ol class="children">
    									<li class="comment">
    										<div class="comment-body">
    											<div class="comment-author">
    												<img class="avatar" src="/images/avatar2.png" alt="">
    											</div>
    											<div class="comment-content">
    												<div class="comment-text"><p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditat”</p></div>
    												
    												<h4 class="author-name">TYRION LANNISTER</h4>			
    												<span class="date-comment">08 July</span>
    												<div class="reply">
    													<a href="#" class="comment-reply-link" rel="nofollow">Reply</a>			
    												</div>
    											</div>
    										</div>
    										<ol class="children">
    											<li class="comment">
    												<div class="comment-body">
    													<div class="comment-author">
    														<img class="avatar" src="/images/avatar3.png" alt="">
    													</div>
    													<div class="comment-content">
    														<div class="comment-text"><p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditat”</p></div>
    														
    														<h4 class="author-name">TYRION LANNISTER</h4>			
    														<span class="date-comment">08 July</span>
    														<div class="reply">
    															<a href="#" class="comment-reply-link" rel="nofollow">Reply</a>			
    														</div>
    													</div>
    												</div>
    											</li>
    										</ol>
    									</li>
    								</ol>
    							</li><!-- #comment-## -->
    						</ol><!-- .comment-list -->
                            <div class="loadmore-comment"><a href="#">Load more comment <i class="fa fa-angle-down"></i></a></div>
    				    </div>
                        <div class="leave-reply" id="leave-reply">
                            <h4>POST COMMENT</h4>
                            <div class="comment-respond" id="respond">
                                <p>Your email address will not be published. Required fields are marked *</p>
                                <form class="comment-form" id="commentform" method="post" action="">
                                    <div class="input-group">
                                        <label for="">Name <span>*</span></label>
                                        <input type="text" class="input-form" id="name" name="author">
                                    </div>
                                    <div class="input-group">
                                        <label for="">Email  <span>*</span></label>
                                        <input type="text" class="input-form" id="email" name="email">
                                    </div>
                                    <div class="input-group">
                                        <label for="">Website</label>
                                        <input type="text" class="input-form" id="website" name="website">
                                    </div>
                                    <div class="input-group">
                                        <label for="">Comment</label>
                                        <textarea class="textarea-form" id="message" name="comment"></textarea>
                                    </div>
                                    <p class="form-submit">
                                        <input type="submit" value="POST" class="submit" id="comment_submit" name="submit">
                                    </p>        
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 sidebar">
                    <div class="widget widget_categories">
                        <h2 class="widget-title">BLOG CATEGORIES</h2>
                        <ul class="product-categories">
                            <li class="cat-parent current-cat-parent">
                                <a href="#">FASHION</a>
                                <ul class="children">
                                    <li class="current-cat"><a href="#">Men</a></li>
                                    <li><a href="#">Cat 1</a></li>
                                    <li><a href="#">Cat 2</a></li>
                                </ul>
                            </li>
                            <li class="cat-parent">
                                <a href="#">LIFE STYLE</a>
                                <ul class="children">
                                    <li><a href="#">Cat 1</a></li>
                                    <li><a href="#">Cat 2</a></li>
                                </ul>
                            </li>
                            <li><a href="#">TRAVEL</a></li>
                            <li><a href="#">VINTAGES</a></li>
                            <li><a href="#">FOODY</a></li>
                            <li><a href="#">MUSIC</a></li>
                            <li><a href="#">LOVE</a></li>
                            <li><a href="#">COUPE</a></li>
                            <li><a href="#">Shoes</a></li>
                        </ul>
                    </div>
                    <div class="widget leka-recentpost">
                        <h2 class="widget-title">RECENT POST</h2>
                        <ul class="recent_posts_list">
                            <li>
                                <span class="post-img">
                                    <a href="#">
                                        <img src="/images/recent1.png" alt="">
                                    </a>
                                </span>
                                <h3 class="post-title"><a href="#">A Healthy Habit</a></h3>
                                <div class="post-cat"><a href="#">LifeStyle</a></div>
                            </li>
                            <li>
                                <span class="post-img">
                                    <a href="#">
                                        <img src="/images/recent2.png" alt="">
                                    </a>
                                </span>
                                <h3 class="post-title"><a href="#">A Healthy Habit</a></h3>
                                <div class="post-cat"><a href="#">LifeStyle</a></div>
                            </li>
                            <li>
                                <span class="post-img">
                                    <a href="#">
                                        <img src="/images/recent3.png" alt="">
                                    </a>
                                </span>
                                <h3 class="post-title"><a href="#">A Healthy Habit</a></h3>
                                <div class="post-cat"><a href="#">LifeStyle</a></div>
                            </li>
                            <li>
                                <span class="post-img">
                                    <a href="#">
                                        <img src="/images/recent4.png" alt="">
                                    </a>
                                </span>
                                <h3 class="post-title"><a href="#">A Healthy Habit</a></h3>
                                <div class="post-cat"><a href="#">LifeStyle</a></div>
                            </li>
                        </ul>
                    </div>
                    <div class="widget leka-photoflick">                
                        <h2 class="widget-title">Flickr Follow</h2>                                     
                        <ul class="list-photo">
                            <li><a href="#"><img src="/images/flick1.png" alt=""></a></li>
                            <li><a href="#"><img src="/images/flick2.png" alt=""></a></li>
                            <li><a href="#"><img src="/images/flick3.png" alt=""></a></li>
                            <li><a href="#"><img src="/images/flick4.png" alt=""></a></li>
                            <li><a href="#"><img src="/images/flick5.png" alt=""></a></li>
                            <li><a href="#"><img src="/images/flick6.png" alt=""></a></li>
                        </ul>                   
                    </div>
                    <div class="widget widget_tag_cloud">
                        <h2 class="widget-title">TAGS CLOUD</h2>
                        <div class="tagcloud">
                            <a href="#">Natural</a>
                            <a href="#">Fashion</a>
                            <a href="#">Life style</a>
                            <a href="#">Movie</a>
                            <a href="#">Music</a>
                            <a href="#">Love</a>
                            <a href="#">Travel</a>
                            <a href="#">Food</a>
                            <a href="#">Story love</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <@pageFooter/>
    <a href="#" class="scroll_top" title="Scroll to Top">Scroll</a>
    <@jsIncludes/>
</body>
</html>