<!DOCTYPE html>
<html lang="en">
<#include "macros.ftl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta charset="UTF-8">
	<title>Leka - Blog List</title>
	<@styleSheets/>
</head>
<body class="">
	<@pageHeader "blog-list.html"/>
	<section class="banner bg-parallax banner-blog">
	    <div class="overlay"></div>
	    <div class="container">
	        <div class="banner-content text-center">
	            <h2 class="page-title">BLOG RIGHT SIDE BAR</h2>
	            <div class="breadcrumbs">
	                <a href="${system.site.indexPage}">Home</a>
	                <span>BLOG RIGHT SIDE BAR</span>
	            </div>
	        </div>
	    </div>
	</section>
	<div class="maincontainer">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-sm-8 main-content">
					<div class="blog-list">
						<article class="blog-item">
							<div class="post-format">
								<figure><img alt="" src="/images/blogs/blog5.jpg"></figure>
								<span class="icon-post"><i class="fa fa-image"></i></span>
							</div>
							<h3><a href="#">Trendy breakfast advices</a></h3>
							<div class="post-cat"><a href="#">LifeStyle</a></div>
							<div class="content-post">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem.Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut.</div>
							<div class="meta-post">
								<div class="date-post">SEP 07, 2015</div>
								<div class="like-post"><a href="#"><i class="fa fa-heart-o"></i>95</a></div>
								<div class="comment-post"><a href="#"><i class="fa fa-comments-o"></i>68</a></div>
							</div>
						</article>
						<article class="blog-item">
							<div class="post-format"><figure><img alt="" src="/images/blogs/blog6.jpg"></figure></div>
							<h3><a href="#">Simplicity tasted good</a></h3>
							<div class="post-cat"><a href="#">LifeStyle</a></div>
							<div class="content-post">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem.Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut.</div>
							<div class="meta-post">
								<div class="date-post">SEP 07, 2015</div>
								<div class="like-post"><a href="#"><i class="fa fa-heart-o"></i>95</a></div>
								<div class="comment-post"><a href="#"><i class="fa fa-comments-o"></i>68</a></div>
							</div>
						</article>
						<article class="blog-item">
							<div class="post-format"><figure><img alt="" src="/images/blogs/blog3.jpg"></figure></div>
							<h3><a href="#">Trendy breakfast advices</a></h3>
							<div class="post-cat"><a href="#">LifeStyle</a></div>
							<div class="content-post">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem.Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut.</div>
							<div class="meta-post">
								<div class="date-post">SEP 07, 2015</div>
								<div class="like-post"><a href="#"><i class="fa fa-heart-o"></i>95</a></div>
								<div class="comment-post"><a href="#"><i class="fa fa-comments-o"></i>68</a></div>
							</div>
						</article>
						<article class="blog-item">
							<div class="post-format"><figure><img alt="" src="/images/blogs/blog4.jpg"></figure></div>
							<h3><a href="#">Simplicity tasted good</a></h3>
							<div class="post-cat"><a href="#">LifeStyle</a></div>
							<div class="content-post">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem.Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut.</div>
							<div class="meta-post">
								<div class="date-post">SEP 07, 2015</div>
								<div class="like-post"><a href="#"><i class="fa fa-heart-o"></i>95</a></div>
								<div class="comment-post"><a href="#"><i class="fa fa-comments-o"></i>68</a></div>
							</div>
						</article>
						<nav class="pagination">
		                    <ul>
		                        <li class="active"><a href="#">1</a></li>
		                        <li><a href="#">2</a></li>
		                        <li><a href="#">3</a></li>
		                        <li><a href="#">4</a></li>
		                        <li><a href="#">5</a></li>
		                        <li><a href="#">Next</a></li>
		                    </ul>
		                </nav>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 sidebar">
					<div class="widget widget_categories">
	                    <h2 class="widget-title">BLOG CATEGORIES</h2>
	                    <ul class="product-categories">
	                        <li class="cat-parent current-cat-parent">
	                            <a href="#">FASHION</a>
	                            <ul class="children">
	                                <li class="current-cat"><a href="#">Men</a></li>
	                                <li><a href="#">Cat 1</a></li>
	                                <li><a href="#">Cat 2</a></li>
	                            </ul>
	                        </li>
	                        <li class="cat-parent">
	                            <a href="#">LIFE STYLE</a>
	                            <ul class="children">
	                                <li><a href="#">Cat 1</a></li>
	                                <li><a href="#">Cat 2</a></li>
	                            </ul>
	                        </li>
	                        <li><a href="#">TRAVEL</a></li>
	                        <li><a href="#">VINTAGES</a></li>
	                        <li><a href="#">FOODY</a></li>
	                        <li><a href="#">MUSIC</a></li>
	                        <li><a href="#">LOVE</a></li>
	                        <li><a href="#">COUPE</a></li>
	                        <li><a href="#">Shoes</a></li>
	                    </ul>
	                </div>
	                <div class="widget leka-recentpost">
						<h2 class="widget-title">RECENT POST</h2>
						<ul class="recent_posts_list">
			                <li>
								<span class="post-img">
									<a href="#">
										<img src="/images/recent1.png" alt="">
									</a>
								</span>
								<h3 class="post-title"><a href="#">A Healthy Habit</a></h3>
								<div class="post-cat"><a href="#">LifeStyle</a></div>
							</li>
							<li>
								<span class="post-img">
									<a href="#">
										<img src="/images/recent2.png" alt="">
									</a>
								</span>
								<h3 class="post-title"><a href="#">A Healthy Habit</a></h3>
								<div class="post-cat"><a href="#">LifeStyle</a></div>
							</li>
							<li>
								<span class="post-img">
									<a href="#">
										<img src="/images/recent3.png" alt="">
									</a>
								</span>
								<h3 class="post-title"><a href="#">A Healthy Habit</a></h3>
								<div class="post-cat"><a href="#">LifeStyle</a></div>
							</li>
							<li>
								<span class="post-img">
									<a href="#">
										<img src="/images/recent4.png" alt="">
									</a>
								</span>
								<h3 class="post-title"><a href="#">A Healthy Habit</a></h3>
								<div class="post-cat"><a href="#">LifeStyle</a></div>
							</li>
						</ul>
					</div>
					<div class="widget leka-photoflick">				
						<h2 class="widget-title">Flickr Follow</h2>										
						<ul class="list-photo">
							<li><a href="#"><img src="/images/flick1.png" alt=""></a></li>
							<li><a href="#"><img src="/images/flick2.png" alt=""></a></li>
							<li><a href="#"><img src="/images/flick3.png" alt=""></a></li>
							<li><a href="#"><img src="/images/flick4.png" alt=""></a></li>
							<li><a href="#"><img src="/images/flick5.png" alt=""></a></li>
							<li><a href="#"><img src="/images/flick6.png" alt=""></a></li>
	                    </ul>					
					</div>
					<div class="widget widget_tag_cloud">
	                    <h2 class="widget-title">TAGS CLOUD</h2>
	                    <div class="tagcloud">
	                        <a href="#">Natural</a>
	                        <a href="#">Fashion</a>
	                        <a href="#">Life style</a>
	                        <a href="#">Movie</a>
	                        <a href="#">Music</a>
	                        <a href="#">Love</a>
	                        <a href="#">Travel</a>
	                        <a href="#">Food</a>
	                        <a href="#">Story love</a>
	                    </div>
	                </div>
				</div>
			</div>
			
		</div>
	</div>
	<@pageFooter/>
    <a href="#" class="scroll_top" title="Scroll to Top">Scroll</a>
	<@jsIncludes/>
</body>
</html>