<!DOCTYPE html>
<html lang="en">
<#include "macros.ftl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta charset="UTF-8">
	<title>Leka - Blog Grid 2 Columns</title>
	<@styleSheets/>
</head>
<body class="">
    <@pageHeader "blog-grid-2columns.html"/>
	<section class="banner bg-parallax banner-blog">
	    <div class="overlay"></div>
	    <div class="container">
	        <div class="banner-content text-center">
	            <h2 class="page-title">BLOG 2 COLUMNS</h2>
	            <div class="breadcrumbs">
	                <a href="${system.site.indexPage}">Home</a>
	                <span>BLOG 2 COLUMNS</span>
	            </div>
	        </div>
	    </div>
	</section>
	<div class="maincontainer">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 main-content">
					<div class="blog-grid">
						<div class="row">
							<article class="blog-item col-sm-6">
								<div class="post-format">
									<figure><img alt="" src="/images/blogs/blog-gr1.jpg"></figure>
								</div>
								<h3><a href="#">A Day In The Forest</a></h3>
								<div class="post-cat"><a href="#">LifeStyle</a></div>
								<div class="content-post">Contrary to popular belief, Lorem Ipsum is not simplyrandom text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. </div>
								<div class="meta-post">
									<div class="date-post">SEP 07, 2015</div>
									<div class="like-post"><a href="#"><i class="fa fa-heart-o"></i>95</a></div>
									<div class="comment-post"><a href="#"><i class="fa fa-comments-o"></i>68</a></div>
								</div>
							</article>
							<article class="blog-item col-sm-6">
								<div class="post-format"><figure><img alt="" src="/images/blogs/blog-gr2.jpg"></figure></div>
								<h3><a href="#">Be crazy - Free fall</a></h3>
								<div class="post-cat"><a href="#">LifeStyle</a></div>
								<div class="content-post">Contrary to popular belief, Lorem Ipsum is not simplyrandom text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. </div>
								<div class="meta-post">
									<div class="date-post">SEP 07, 2015</div>
									<div class="like-post"><a href="#"><i class="fa fa-heart-o"></i>95</a></div>
									<div class="comment-post"><a href="#"><i class="fa fa-comments-o"></i>68</a></div>
								</div>
							</article>
							<article class="blog-item col-sm-6">
								<div class="post-format">
									<figure><img alt="" src="/images/blogs/blog-gr3.jpg"></figure>
									<span class="icon-post"><i class="fa fa-image"></i></span>
								</div>
								<h3><a href="#">Trendy breakfast advices</a></h3>
								<div class="post-cat"><a href="#">LifeStyle</a></div>
								<div class="content-post">Contrary to popular belief, Lorem Ipsum is not simplyrandom text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. </div>
								<div class="meta-post">
									<div class="date-post">SEP 07, 2015</div>
									<div class="like-post"><a href="#"><i class="fa fa-heart-o"></i>95</a></div>
									<div class="comment-post"><a href="#"><i class="fa fa-comments-o"></i>68</a></div>
								</div>
							</article>
							<article class="blog-item col-sm-6">
								<div class="post-format"><figure><img alt="" src="/images/blogs/blog-gr4.jpg"></figure></div>
								<h3><a href="#">Be crazy - Free fall</a></h3>
								<div class="post-cat"><a href="#">LifeStyle</a></div>
								<div class="content-post">Contrary to popular belief, Lorem Ipsum is not simplyrandom text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. </div>
								<div class="meta-post">
									<div class="date-post">SEP 07, 2015</div>
									<div class="like-post"><a href="#"><i class="fa fa-heart-o"></i>95</a></div>
									<div class="comment-post"><a href="#"><i class="fa fa-comments-o"></i>68</a></div>
								</div>
							</article>
							<article class="blog-item col-sm-6">
								<div class="post-format"><figure><img alt="" src="/images/blogs/blog-gr5.jpg"></figure></div>
								<h3><a href="#">Simplicity tasted good</a></h3>
								<div class="post-cat"><a href="#">LifeStyle</a></div>
								<div class="content-post">Contrary to popular belief, Lorem Ipsum is not simplyrandom text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. </div>
								<div class="meta-post">
									<div class="date-post">SEP 07, 2015</div>
									<div class="like-post"><a href="#"><i class="fa fa-heart-o"></i>95</a></div>
									<div class="comment-post"><a href="#"><i class="fa fa-comments-o"></i>68</a></div>
								</div>
							</article>
							<article class="blog-item col-sm-6">
								<div class="post-format"><figure><img alt="" src="/images/blogs/blog-gr6.jpg"></figure></div>
								<h3><a href="#">Be crazy - Free fall</a></h3>
								<div class="post-cat"><a href="#">LifeStyle</a></div>
								<div class="content-post">Contrary to popular belief, Lorem Ipsum is not simplyrandom text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. </div>
								<div class="meta-post">
									<div class="date-post">SEP 07, 2015</div>
									<div class="like-post"><a href="#"><i class="fa fa-heart-o"></i>95</a></div>
									<div class="comment-post"><a href="#"><i class="fa fa-comments-o"></i>68</a></div>
								</div>
							</article>
						</div>
						<nav class="pagination">
		                    <ul>
		                        <li class="active"><a href="#">1</a></li>
		                        <li><a href="#">2</a></li>
		                        <li><a href="#">3</a></li>
		                        <li><a href="#">4</a></li>
		                        <li><a href="#">5</a></li>
		                        <li><a href="#">Next</a></li>
		                    </ul>
		                </nav>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<@pageFooter/>
    <a href="#" class="scroll_top" title="Scroll to Top">Scroll</a>
	<@jsIncludes/>
</body>
</html>