<!DOCTYPE html>
<html lang="en">
<#include "macros.ftl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">

    <title>${session.viewUserHome.title}'s Home</title>
    <@styleSheets/>

    <style>
        th { text-align: left; }
        td {
            text-align: left;
            vertical-align: text-top;
        }
    </style>

</head>
<body class="">
    <header class="header">
<#--        <@topOfPageHeader/> -->
    </header>

    <h2>Home Page of ${session.viewUserHome.username} at ${system.site.Company}</h2>

    ${session.viewUserHome.publicHomePage}

    <a href="#" class="scroll_top" title="Scroll to Top">Scroll</a>
    <@jsIncludes/>
</body>
</html>