<!DOCTYPE html>
<html lang="en">
<#include "macros.ftl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <title>Leka - FAQ</title>
    <@styleSheets/>
</head>
<body class="">
    <header class="header">
        <@topOfPageHeader/>
    </header>
      <div class="container">
          <div class="banner-content text-center">
              <h2 class="page-title">FAQ PAGE</h2>
          </div>
      </div>
  <div class="maincontainer">
      <div class="container">
          <div class="col-sm-4 col-md-3 sidebar">
              <div class="widget widget_faq_categories">
                  <ul>
                      <li class="active"><a data-toggle="tab" href="#tab-1">General Questions</a></li>
                      <li><a data-toggle="tab" href="#tab-2">Company Questions</a></li>
                      <li><a data-toggle="tab" href="#tab-3">Products & services</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-sm-8 col-md-9 main-content">
              <div class="tab-content">
                  <div id="tab-1" class="tab-pane active">
                      <div class="faq-content">
                          <div class="leka-accordion">
                              <h3>title</h3>
                                <div>
                                  <p>Text a whole lot of text Text a whole lot of text Text a whole lot of text Text a whole lot of text Text a whole lot of text
                                      Text a whole lot of text Text a whole lot of text Text a whole lot of text Text a whole lot of text Text a whole lot of text Text a whole lot of text Text a whole lot of text Text a whole lot of text
                                      Text a whole lot of text Text a whole lot of text Text a whole lot of text Text a whole lot of text
                                      Text a whole lot of text </p>
                                </div>
                                <h3>title</h3>
                                <div>
                                    <p>Text a whole lot of text Text a whole lot of text Text a whole lot of text Text a whole lot of text Text a whole lot of text
                                        Text a whole lot of text Text a whole lot of text Text a whole lot of text Text a whole lot of text Text a whole lot of text Text a whole lot of text Text a whole lot of text Text a whole lot of text
                                        Text a whole lot of text Text a whole lot of text Text a whole lot of text Text a whole lot of text
                                        Text a whole lot of text </p>
                                </div>
                          </div>
                      </div>
                  </div>
                  <div id="tab-2" class="tab-pane">
                      <div class="faq-content">
                          <div class="leka-accordion">
                              <h3>title</h3>
                            <div>
                              <p>
                              text
                              </p>
                              <ul>
                                <li>List item one
                                  <ul>
                                      <li>List item two</li>
                                      <li>List item three</li>
                                  </ul>
                                </li>
                                <li>List item two</li>
                                <li>List item three</li>
                              </ul>
                            </div>
                              <h3>title</h3>
                            <div>
                              <p>
                              text
                              </p>
                              <p>
                              text
                              </p>
                            </div>
                          </div>
                      </div>
                  </div>
                  <div id="tab-3" class="tab-pane">
                      <div class="faq-content">
                          <div class="leka-accordion">
                              <h3>title</h3>
                              <div>
                                  <p>
                                      text
                                  </p>
                                  <ul>
                                      <li>List item one
                                          <ul>
                                              <li>List item two</li>
                                              <li>List item three</li>
                                          </ul>
                                      </li>
                                      <li>List item two</li>
                                      <li>List item three</li>
                                  </ul>
                              </div>
                              <h3>title</h3>
                              <div>
                                  <p>
                                      text
                                  </p>
                                  <p>
                                      text
                                  </p>
                              </div>
                              <h3>title</h3>
                              <div>
                                  <p>
                                      text
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <@pageFooter/>
    <a href="#" class="scroll_top" title="Scroll to Top">Scroll</a>
    <@jsIncludes/>
</body>
</html>